body{
    background-color: #222222;
    font-family:"lato",sans-serif;
}
.alert{
    background-color: #BDFFE1;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px 40px;
}
.alert h1{
    font-size: 22px;
    margin-left: 80px;;
}
.alert p{
    font-size: 18px;
    margin-left: 80px;
    font-family: sans-serif;
}